.Sidebar {
  position: fixed;
  left: 0;
  top: 0; 
  width: 200px; 
  height: 100vh; 
  background-color: #DF9A4F; 
  padding: 20px;
  color: white; 
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 20px;
  font-size: 24px;
  color: white; 
}

.menu h1 {
  margin: 10px 0;
}

.link {
  color: white; 
  text-decoration: none; 
  cursor: pointer; 
  position: relative;
  top:  50px;
}

.link:hover {
  text-decoration: underline; 
}
